nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: coral;
  background-image: linear-gradient(to left, green, yellow);
  color: white;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Shop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
